@media screen and (max-width: 500px) {
  #root {
    width: 100%;
  }

  header {
    margin-top: 26px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-temp {
    margin-top: 50px;
  }

  .additional-weather {
    margin-top: 52px;
    gap: 25px;
  }

  .additional-weather__element {
    gap: 6px;
  }

  .additional-weather__count {
    font-size: 1.5rem;
  }

  .quote {
    margin: 60px auto 0 auto;
    width: 300px;
  }
}
